body {
    font-family: 'Poppins', sans-serif;
    background-color: #f7f7f7;
    color: #000;
    margin: 0;
    padding: 20px;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    background: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #fc5d35;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    margin: 10px 0;
}

ul ul {
    margin-left: 20px;
}

a {
    text-decoration: none;
    color: #fc5d35;
}

a:hover {
    text-decoration: underline;
}
